.profileLogado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profileEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.editEmail {
  /* margin-left: 3px; */
  cursor: pointer;
}
.editIcon {
  color: var(--verde);
}

.button button {
  margin-top: 10px;
  width: 150px;
  margin: 0 0 0 5px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.deslogado a {
  text-decoration: none;
  color: var(--verde);
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
