.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.testandoApi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 80%;
}

.falhaCarregamento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
}
