* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: var(--colorMenu);
  font-size: 18px;
  height: 40px;
}

:is(.navbar, .burger, .dropdowns) {
  position: block;
  top: 0%;
  width: 100%;
}

.navbar {
  z-index: 99;
  left: 0;
  display: flex;
  height: var(--alturaNavbar);
  top: 0;
  align-items: stretch;
  position: sticky;
  margin-bottom: 15px;
  /* height: clamp(20px,30%, var(--alturaNavbar)); */
  background-color: #fffafa;
  background-image: none;
  filter: brightness(0.9);
  color: var(--colorMenuHover);
  border-bottom: 1px solid #333333;
  box-sizing: border-box;
}

.burguerContainer:hover .burgerIcon,
.burguerContainer:hover .closeIcon {
  color: var(--colorMenuHover);
}

.burger {
  display: grid;
  place-items: center;
  width: 80px;
  height: 64px;

  background-repeat: no-repeat;
  background-position: center;
}
.burgerIcon {
  color: var(--colorMenu);
  font-size: 24px;
  width: 100%;
}
.closeIcon {
  color: var(--colorMenu);
  font-size: 47px;
  width: 100%;
}
body.open .burger {
  background-image: url("../img/close.svg");
}

.button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 24px;
  height: 100%;
}

.button > img {
  display: none;
}
.menu > img {
  display: none;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropdownMenu {
  display: grid;
  margin-bottom: 28px;
}
.dropdownMenu a {
  width: 100%;
}

.dropdown:hover .button {
  color: var(--colorMenuHover);
}

.dropdownMenu > .menuDrop:hover {
  color: var(--colorMenuHover);
}

.switchStyle {
  display: grid;
  align-items: center;
  justify-content: right;
}
.switchStyle p {
  font-size: 14px;
}
.themeText {
  color: #808080;
  cursor: pointer;
}

.arrow {
  transform: rotate(-90deg);
  color: var(--verde);
}
.menu {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: var(--colorMenu);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 24px;
  height: 100%;

  text-decoration: none;
}
.menu:hover {
  color: var(--colorMenuHover);
}

.menuDrop {
  width: 100%;
  display: grid;
  justify-content: left;
  color: var(--colorMenuHover);
  text-decoration: none;
}
.menuDrop button {
  color: var(--colorMenu);
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.menuDrop:hover button {
  color: var(--colorMenuHover);
}

.settings {
  display: flex;
  width: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-right: 20px;
  color: var(--colorMenu);
  transition: 0.5s;
  cursor: pointer;
}

.settings:hover {
  color: var(--colorMenuHover);
  transform: translateY(-0.12em);
}

@keyframes rotacao {
  100% {
    transform: rotate(180deg);
    transition: transform 5s infinite;
  }
}

.menuSettings {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dropSettings {
  position: absolute;
  top: 3rem;
  left: -60px;
  width: 180px;
  padding: 0px 10px;
  margin-bottom: 0;
  place-items: start;
  background: var(--navbarBackground);
  opacity: 0;
  visibility: hidden;
  translate: 0 24px;
  transition: 0.3s;
}

.settings:hover .dropSettings {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.label {
  color: var(--colorMenu);
}
.label:hover {
  opacity: 1;
  color: var(--colorMenuHover);
}

.dropSettings label {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
}
.menuSettings input {
  display: none;
}

#dropControl:checked + div {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.dropdown {
  height: 100%;
  flex-direction: row;
}

.dropdownMenu {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 180px;
  padding: 0px 10px;
  margin-bottom: 0;
  place-items: start;
  background: var(--navbarBackground);
  opacity: 0;
  visibility: hidden;
  translate: 0 24px;
  transition: 0.3s;
}

.dropdown:hover .dropdownMenu {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.button {
  padding: 0 10px 0 24px;
}

.button > img {
  display: block;
}
.menu {
  color: var(--colorMenu);
  padding: 0 10px 0 24px;
}

.menu > img {
  display: block;
}

.dropdown:hover .button {
  opacity: 1;
}
.dropdown:hover .menu {
  opacity: 1;
}

.dropdowns {
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  flex-direction: row;
  justify-content: flex-start;
  background: transparent;
  opacity: 1;
  visibility: visible;
}

.rightNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
}

@media (width >= 650px) {
  button {
    font-size: 16px;
  }

  .burger {
    display: none;
  }
}

/* @media (width < 500px) {
  body.open .dropdowns {
    visibility: visible;
    left: 0;
  }

  .burger {
    margin-left: 70px;
  }
  .navbar {
    justify-content: space-between;
  }
} */

/* 992 720 480 320 */
@media (width<=650px) {
  /* body.open .dropdowns {
    visibility: visible;
    left: 0;
  } */
  .menu {
    border-bottom: 1px solid var(--verde);
    height: 40px;
  }
  .dropdowns {
    opacity: 0;
    translate: 0 -20px;
    transition: 0.4s;
    border-right: 1px solid var(--verde);
    border-top: 1px solid var(--verde);
    /* border-bottom: 1px solid var(--verde); */
    position: relative;
    top: 64px;
    left: -80px;
    z-index: 2;
    max-width: 200px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    background: transparent;
    /* opacity: 1;
    visibility: visible; */
    background-color: var(--navbarBackground);
  }
  .dropdown {
    width: 100%;
    height: 40px;
    position: relative;
    border-bottom: 1px solid var(--verde);
  }
  .dropdown button {
    padding-left: 10px;
    width: 100%;
    height: 40px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown:hover .dropdownMenu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
    /* box-shadow: 0 0 0 1px var(--verde); */
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); */
  }

  .dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -150px;
    left: auto;
    top: -1px;
    width: 150px;
    padding: 0px 0px;
    margin-bottom: 0;
    margin-left: 0;
    background: var(--navbarBackground);
    opacity: 0;
    visibility: hidden;

    /* opacity: 1;
    visibility: visible; */
    translate: 0 24px;
    transition: 0.3s;
  }

  .menuDrop button {
    margin-left: 0;
  }

  .dropdown:hover a {
    width: 100%;
    border-bottom: 1px solid var(--verde);
    border-left: 1px solid var(--verde);
    border-right: 1px solid var(--verde);
  }
  .dropdown:hover a:nth-child(1) {
    width: 100%;
    border-top: 1px solid var(--verde);
  }
  .open {
    opacity: 1;
    visibility: visible;
    translate: 0;
  }
  .close {
    /* display: none; */
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .arrow {
    transform: rotate(-180deg);
  }
}

/* @media (width<=480px) {
  .dropdowns {
    visibility: hidden;
    opacity: 0;
  }
} */
