.textoHome {
  display: flex;
  text-indent: 50px;
  padding: 5px;
  margin: 0 10px 10px 10px;
  border: 1px solid var(--verdeRgba);
  background-color: var(--navbarBackground);
}
.textoHomeLight {
  display: flex;
  text-indent: 50px;
  padding: 5px;
  margin: 0 10px 10px 10px;
  border: 1px solid var(--navbarBackground);
  background-color: #fffafa;
}
.dropShadowTeste {
  filter: drop-shadow(-4px -4px rgb(255, 217, 0));
}
