*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.voltar {
  font-size: 40px;
  color: chartreuse;
  position: absolute;
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  filter: drop-shadow(2px 2px 9px black);
}

.voltar:hover {
  transform: translateY(-0.1em);
  transition: 0.5s;
}
.tudo a {
  text-decoration: none;
}

/* content que contem os formulários */
.content {
  width: clamp(200px, 70%, 400px);
  margin: 6% auto;
}

@media screen and (width <= 500px) {
  /* .content{
    width: 88%;
  } */
  h1 {
    font-size: 36px !important;
  }
}

/* formatando o cabeçalho dos formulários */
h1 {
  font-size: 48px;
  color: var(--bg-color);

  padding: 10px 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}
.h1:after {
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(
    left,
    rgba(128, 255, 0, 0) 0%,
    rgba(128, 255, 0, 0.8) 20%,
    rgba(128, 255, 0, 1) 53%,
    rgba(128, 255, 0, 0.8) 79%,
    rgba(128, 255, 0, 0) 100%
  );
  background: linear-gradient(
    left,
    rgb(128, 255, 0) 0%,
    rgba(128, 255, 0, 0.8) 20%,
    rgba(128, 255, 0, 1) 53%,
    rgba(128, 255, 0, 0.8) 79%,
    rgba(128, 255, 0, 0) 100%
  );
}

.tudo p:last-child {
  margin-bottom: 0;
}
.p,
.link {
  margin-bottom: 15px;
}
.p:first-child,
.link:first-child {
  margin: 0px;
}
.label {
  color: var(--bg-color);

  position: relative;
}

.input {
  outline: none;
}

.input:not([type="checkbox"]) {
  width: 100%;
  margin-top: 4px;
  padding: 10px;
  border: 1px solid var(--bg-color);

  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(128, 128, 128, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(128, 128, 128, 0.6) inset;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* Chrome safari opera */
::-webkit-input-placeholder {
  color: var(--bg-color);
}

/* mozila ate versão 18 */
:-moz-placeholder {
  color: var(--bg-color);
}

/* mozila versão 19+ */
::-moz-placeholder {
  color: var(--bg-color);
}

/* internet explorer */
:-ms-input-placeholder {
  color: var(--bg-color);
}

/*marcando os links para mudar de um formulário para outro */
.link {
  position: absolute;
  background: #e1eaeb;
  color: #7f7c7c;
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #dbe5e8;

  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* estilos para para ambos os formulários */
.cadastro {
  background-color: #232323;
  top: 0px;

  padding: 18px 6% 18px 6%;
  margin-right: 0;

  border: 1px solid chartreuse;

  color: var(--bg-color);

  border-radius: 5px;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.botao button {
  margin-top: 15px;
  width: 100%;
}

.swal {
  height: 18rem;
  border: 1px solid #232323 !important;
  border-radius: 5px;
}

.swal button {
  height: 40px;
  transition: 0.5s;

  background-color: #fff;
  animation: none !important;
  outline: 0; /* Não deu certo */
}

.swal button:hover {
  height: 40px;
  transform: translateY(-0.25em);
  background-color: #fff;
  outline: 0; /* Não deu certo */
}
