/* content que contem os formulários */
.content {
  width: clamp(200px, 70%, 400px);
  margin: 6% auto;
}

.tudo p:last-child {
  margin-bottom: 0;
}
.p,
.link {
  margin-bottom: 15px;
}
.p:first-child,
.link:first-child {
  margin: 0px;
}
.label {
  color: var(--bg-color);
  margin: 40px 0 0 0;
}

.input {
  outline: none;
}

.input:not([type="checkbox"]) {
  width: 100%;
  margin: 4px 0 0 0;
  padding: 10px;
  border: 1px solid var(--bg-color);

  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(128, 128, 128, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(128, 128, 128, 0.6) inset;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* Chrome safari opera */
::-webkit-input-placeholder {
  color: var(--bg-color);
}

/* mozila ate versão 18 */
:-moz-placeholder {
  color: var(--bg-color);
}

/* mozila versão 19+ */
::-moz-placeholder {
  color: var(--bg-color);
}

/* internet explorer */
:-ms-input-placeholder {
  color: var(--bg-color);
}

.cadastro {
  background-color: #232323;
  top: 0px;

  padding: 18px 6% 18px 6%;
  margin-right: 0;

  border: 1px solid chartreuse;

  color: var(--bg-color);

  border-radius: 5px;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.botao button {
  margin-top: 15px;
  width: 100%;
}

.swal {
  height: 18rem;
  border: 1px solid #232323 !important;
  border-radius: 5px;
}

.swal button {
  height: 40px;
  transition: 0.5s;

  background-color: #fff;
  animation: none !important;
  outline: 0; /* Não deu certo */
}

.swal button:hover {
  height: 40px;
  transform: translateY(-0.25em);
  background-color: #fff;
  outline: 0; /* Não deu certo */
}
