.conteudo {
  background-color: var(--navbarBackground);
  margin: 0 10px 0 10px;
  border: 1px solid var(--verdeRgba);
  padding: 5px;
  text-indent: 50px;
}
.cebolinha {
  filter: drop-shadow(4px 4px yellow);
}
